@model CoffeeShop.WebUI.ViewModels.Checkout.PaymentAddressViewModel

@{
    ViewBag.Title = "Confirm order";
}

@*The version of BeginForm  with no parameters, sends an HTTP POST to the current URL*@
@using (Html.BeginForm())
{
    @Html.ValidationSummary(excludePropertyErrors: true)

    <fieldset>
        <legend>Address: </legend>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, "FirstName", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, "LastName", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, "Address", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.City, "City", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.City)
                    @Html.ValidationMessageFor(model => model.City)
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.PostalCode, "PostalCode", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostalCode)
                @Html.ValidationMessageFor(model => model.PostalCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, "Phone", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, "Email", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Details, "Details", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div>
            <input type="submit" value="Submit Order" class="btn btn-warning" />
        </div>
    </fieldset>
}
