@model CoffeeShop.WebUI.ViewModels.Store.OrderWizardViewModel

@{
    ViewBag.Title = ViewBag.City;

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    options.UpdateTargetId = "coffee-order";
}


<div class="row">
    <div class="col-md-6" id="coffee-order">
        @using (Ajax.BeginForm("Index", "Store", new { city = @ViewBag.City }, options))
        {
            <div id="divCoffeeType">
                <h2>Step 1 : Choose your favourite coffee flavour</h2>
                @{int counter = 0;

                    foreach (var coffeeType in Model.CoffeeTypes)
                    {
                        string tagID = "radio" + counter;

                        @Html.RadioButtonFor(m => m.SelectedCoffeeType, coffeeType, new { id = tagID, @class = "coffee-options" })

                        <label for=@tagID>@coffeeType</label>
                        <br />
                        counter++;
                    }
                }
                <br />
                <input type="button" name="nextBtn" value='Next' />
            </div>
            <div id="divCoffeeSize">
                <h1>Step 2 : Choose how big your coffee cup is</h1>

                @{ int counter2 = 0;

                    foreach (var coffeeSize in Model.CoffeeSizes)
                    {
                        string tagID = "alabala" + counter2;

                        @Html.RadioButtonFor(m => m.SelectedCoffeeSize, coffeeSize, new { id = tagID, @class = "size-options" })

                        <label for=@tagID>@coffeeSize</label>
                        <br />
                        counter2++;
                    }
                }
                <br />
                <input type="button" name="prevBtn" value='Previous' />
                <input type="button" name="nextBtn" value='Next' />
            </div>
            <div id="divCoffeeCondiments">
                <h1>Step 3 : Make it special</h1>

                @{int counter3 = 0;

                    foreach (var coffeCondiment in Model.CoffeeCondiments)
                    {
                        string tagID = "check" + counter3;
                        @Html.CheckBoxFor(m => m.CoffeeCondiments[coffeCondiment.Key], new { id = tagID, @class = "condiment-options", data_condiment = @coffeCondiment.Key })

                        <label for=@tagID>@coffeCondiment.Key</label>
                        <br />
                        counter3++;

                        <br />
                    }
                }
                <br />

                <input type="button" name="prevBtn" value='Previous' />
                <input type="submit" name="nextBtn" value='Finish' />
            </div>

                    }
    </div>
    <div class="col-md-6" id="visuals">
        <div id="coffee-visuals">

        </div>
        <div id="condiments-visuals">

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/App/requester.js"></script>

    <script type="text/javascript">

        $("#coffee-order").ready(function () {

            $("div#coffee-order div").hide();
            $("div#coffee-order div:first").show();

            $(":button").click(function () {
                var parentDiv = $(this).parent();
                $("div#coffee-order div").hide();
                if ($(this).val() == "Previous") {
                    var prevDiv = parentDiv.prev();
                    prevDiv.show();
                }
                if ($(this).val() == "Next") {
                    var nextDiv = parentDiv.next();
                    nextDiv.show();
                }
            });

            $("div#divCoffeeType").on("click", ".coffee-options", function (e) {
                $this = $(this);
                var url = "@Url.Action("ShowCoffeeType", "Visualizations")"
                var coffeetype = $this.val();
                requester.ajaxGet(url, { coffeetype })
                .then(data => $('#coffee-visuals').html(data));
            });

            $("div#divCoffeeSize").on("click", ".size-options", function (e) {
                $this = $(this);
                var url = "@Url.Action("ShowCoffeeSize", "Visualizations")"
                var coffeesize = $this.val()
                var coffeetype = $('input[class=coffee-options]:checked').val();
                requester.ajaxGet(url, { coffeesize, coffeetype })
                .then(data => $('#coffee-visuals').html(data));

            });

            $("div#divCoffeeCondiments").on("click", ".condiment-options", function () {
                $this = $(this);
                var url = "@Url.Action("ShowCondiment", "Visualizations")"
                var condiment = $this.attr('data-condiment');
                requester.ajaxGet(url, { condiment, condiment })
                .then(data => $('#condiments-visuals').append(data));
            });
        });
    </script>
}
